@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Wish List</h1>
    <p>Here you create your wish list for movies, webseries or TV shows in your leisure time </p>
</div>
